In [1]:
import pandas as pd
import numpy as np
df_new=pd.read_csv("state_new_1.csv")
df_new.drop(["CDP","number_of_product","number_of_coupon_redem"
             ,"tran_value","match","household_key","rolling_3_tran_value"], axis = 1, inplace = True)
df_new.head()

,rolling_number_of_product,rolling_number_of_coupon_redem,rolling_tran_value,Coupan_redemtion_percentage_in_last_transaction,curr_CDP,reward,curr_reward,next_number_of_product,next_tran_value,next_number_of_coupon_redem,next_Coupan_redemtion_percentage
0,34.000000,0.00,78.000000,0.00,0,78.000000,59.500000,24.000000,59.500000,0.000000,0.00
1,24.000000,0.00,59.500000,0.00,0,59.500000,48.333333,20.333333,48.333333,0.000000,0.00
2,20.333333,0.00,48.333333,0.00,1,48.333333,43.333333,23.250000,52.000000,0.250000,0.25
3,23.250000,0.25,52.000000,0.25,0,43.333333,47.333333,22.600000,52.200000,0.200000,0.20
4,22.600000,0.20,52.200000,0.20,0,47.333333,47.333333,20.666667,47.833333,0.166667,0.17

In [2]:
data_sorted = df_new.sort_values(by=['rolling_number_of_product'])

# Calculate the 75th percentile value
percentile_75 = data_sorted['rolling_number_of_product'].quantile(0.75)

# Filter the dataset to include only the values less than or equal to the 75th percentile value
df_new = data_sorted[data_sorted['rolling_number_of_product'] <= percentile_75]

# Save the filtered dataset
df_new.to_csv('myfiltereddataset.csv', index=False)
from scipy import stats
df_new=df_new[(np.abs(stats.zscore(df_new)) < 3).all(axis=1)]
df_new.to_csv('myfiltereddataset.csv', index=False)

In [3]:
df_new.describe()

,rolling_number_of_product,rolling_number_of_coupon_redem,rolling_tran_value,Coupan_redemtion_percentage_in_last_transaction,curr_CDP,reward,curr_reward,next_number_of_product,next_tran_value,next_number_of_coupon_redem,next_Coupan_redemtion_percentage
count,58955.000000,58955.000000,58955.000000,58955.000000,58955.000000,58955.000000,58955.000000,58955.000000,58955.000000,58955.000000,58955.000000
mean,46.549979,0.024417,28.395884,0.017046,0.017352,27.946199,27.987188,64.226427,28.297441,0.024279,0.017006
std,149.029724,0.087137,19.202589,0.053996,0.130581,21.508574,21.256366,216.516370,18.599787,0.085601,0.053486
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.333333,0.000000,0.000000
25%,7.142857,0.000000,14.000000,0.000000,0.000000,11.666667,12.000000,7.285714,14.285714,0.000000,0.000000
50%,12.142857,0.000000,24.000000,0.000000,0.000000,22.000000,22.333333,12.285714,24.142857,0.000000,0.000000
75%,19.714286,0.000000,38.285714,0.000000,0.000000,38.500000,38.666667,20.000000,38.142857,0.000000,0.000000
max,1001.428571,0.857143,107.000000,0.290000,1.000000,115.666667,112.000000,1770.714286,102.571429,0.800000,0.290000

In [4]:
mean_df=df_new.mean(axis=0)
df_new=df_new-mean_df
std_df=df_new.std(axis=0)
df_new=df_new/std_df

In [5]:
df_new.to_csv("state_esti_2_new.csv",index=False)
df_new.describe()

,rolling_number_of_product,rolling_number_of_coupon_redem,rolling_tran_value,Coupan_redemtion_percentage_in_last_transaction,curr_CDP,reward,curr_reward,next_number_of_product,next_tran_value,next_number_of_coupon_redem,next_Coupan_redemtion_percentage
count,5.895500e+04,5.895500e+04,5.895500e+04,5.895500e+04,5.895500e+04,5.895500e+04,5.895500e+04,5.895500e+04,5.895500e+04,5.895500e+04,5.895500e+04
mean,6.614568e-15,4.991170e-14,-1.150324e-14,6.545324e-14,-1.676837e-14,-2.602278e-16,-1.085370e-14,-4.692328e-14,2.803975e-16,-1.086148e-13,8.845258e-14
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-3.123537e-01,-2.802128e-01,-1.478753e+00,-3.156821e-01,-1.328847e-01,-1.299305e+00,-1.316650e+00,-2.943261e-01,-1.503464e+00,-2.836350e-01,-3.179521e-01
25%,-2.644246e-01,-2.802128e-01,-7.496845e-01,-3.156821e-01,-1.328847e-01,-7.568857e-01,-7.521129e-01,-2.629857e-01,-7.533272e-01,-2.836350e-01,-3.179521e-01
50%,-2.308742e-01,-2.802128e-01,-2.289214e-01,-3.156821e-01,-1.328847e-01,-2.764572e-01,-2.659841e-01,-2.398928e-01,-2.233673e-01,-2.836350e-01,-3.179521e-01
75%,-1.800694e-01,-2.802128e-01,5.150259e-01,-3.156821e-01,-1.328847e-01,4.906788e-01,5.024132e-01,-2.042637e-01,5.293295e-01,-2.836350e-01,-3.179521e-01
max,6.407303e+00,9.556520e+00,4.093413e+00,5.055095e+00,7.525195e+00,4.078395e+00,3.952360e+00,7.881565e+00,3.993271e+00,9.062028e+00,5.104071e+00